<app-card-item [backgroundImg]="getBackgroundImg()">
    <div role="header" class="text-center">
        <p class="card-level">Рівень {{card.level}}</p>
        <p class="card-name">{{card.name}}</p>
        <p *ngIf="card.extra" class="card-extra">{{card.extra}}</p>
    </div>
    <diV role="content">
        <app-img-center [topText]="card.description" [bottomText]="card.badStuff" [img]="card.img"></app-img-center>
    </diV>
    <div role="footer" class="container">
        <div class="row">
            <div class="col">
                <p *ngIf="card.winLevels > 1" class="text-left">{{card.winLevels}} Рівні</p>
            </div>
            <div class="col">
                <p class="text-right">{{card.winTreasures}} {{treasuresText}}</p>
            </div>
        </div>
    </div>
</app-card-item>