<app-card-body [backgroundImg]="card.backgroundImg">
  <div role="header" class="text-center">
    <div class="card-name">
      <app-text-field [(text)]="card.name"></app-text-field>
    </div>
  </div>
  <app-card-content [(firstText)]="card.firstAbilityDescription" [(secondText)]="card.secondAbilityDescription"
    [fieldsPlacement]="card.layout">
  </app-card-content>
  <div role="footer" class="container">
    <div class="row">
      <div class="col">
        <p class="text-right">{{classText}}</p>
      </div>
    </div>
  </div>
</app-card-body>