<app-card-body [backgroundImg]="card.backgroundImg">
  <div role="header" class="text-center">
    <div class="card-name">
      <app-text-field [(text)]="card.name"></app-text-field>
    </div>
  </div>
  <div role="content">
    <app-content-layouts [(firstText)]="card.firstAbilityName" [(secondText)]="card.firstAbilityDescription">
    </app-content-layouts>
    <app-content-layouts [(firstText)]="card.secondAbilityName" [(secondText)]="card.secondAbilityDescription"
      [(imgUrl)]="card.img" [layoutType]="card.layout">
    </app-content-layouts>
  </div>
  <div role="footer" class="container">
    <div class="row">
      <div class="col">
        <p class="text-right">{{classText}}</p>
      </div>
    </div>
  </div>
</app-card-body>