<app-card-item [backgroundImg]="getBackgroundImg()">
    <div role="header" class="text-center">
        <div class="card-level">
            <app-text-field [text]="card.level"></app-text-field>
        </div>
        <div class="card-name">
            <app-text-field [text]="card.name"></app-text-field>
        </div>
        <div *ngIf="card.extra" class="card-extra">
            <app-text-field [text]="card.extra"></app-text-field>
        </div>
    </div>
    <div role="content">
        <app-two-text-fields [firstText]="card.description" [secondText]="card.badStuff" [imgUrl]="card.img"
            [imgPosition]="'top'">
        </app-two-text-fields>
    </div>
    <div role="footer" class="container">
        <div class="row">
            <div class="col">
                <p *ngIf="card.winLevels > 1" class="text-left">{{card.winLevels}} Рівні</p>
            </div>
            <div class="col">
                <p class="text-right">{{card.winTreasures}} {{treasuresText}}</p>
            </div>
        </div>
    </div>
</app-card-item>