.card-level {
    margin: 0;
    margin-bottom: -.25em;
    font-size: .65em;
}

.card-name {
    margin: 0;
    font-size: .95em;
}

.card-extra {
    margin: 0;
    font-size: .65em;
}

div[role=footer] {
    padding: 0;
}

.editing {
    position: absolute;
}

.fa-xs {
    font-size: 1em;
}

input {
    width: 1.75em;
    border: 0;
    background-color: transparent;
}
