<app-card-item [backgroundImg]="getBackgroundImg()">
    <div role="header" class="text-center">
        <p class="card-level">Рівень {{card.level}}</p>
        <p class="card-name">{{card.name}}</p>
        <p *ngIf="card.extra" class="card-extra">{{card.extra}}</p>
    </div>
    <div role="content">
        <app-two-text-fields [firstText]="card.description" [secondText]="card.badStuff" [imgUrl]="card.img"
            [imgPosition]="'top'">
        </app-two-text-fields>
    </div>
    <div role="footer" class="container">
        <div class="row">
            <div class="col">
                <p *ngIf="card.winLevels > 1" class="text-left">{{card.winLevels}} Рівні</p>
            </div>
            <div class="col">
                <p class="text-right">{{card.winTreasures}} {{treasuresText}}</p>
            </div>
        </div>
    </div>
</app-card-item>