<ng-container [ngSwitch]="layoutType">
  <ng-container *ngSwitchCase="0">
    <app-image-top-1 [imgUrl]="imgUrl" [text]="firstText"></app-image-top-1>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <app-image-bottom-1 [imgUrl]="imgUrl" [text]="firstText"></app-image-bottom-1>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <app-image-overlap-1 [imgUrl]="imgUrl" [text]="firstText"></app-image-overlap-1>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <app-large-text-1 [imgUrl]="imgUrl" [text]="firstText"></app-large-text-1>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <app-image-top-2 [imgUrl]="imgUrl" [firstText]="firstText" [secondText]="secondText"></app-image-top-2>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <app-image-center-2 [imgUrl]="imgUrl" [firstText]="firstText" [secondText]="secondText"></app-image-center-2>
  </ng-container>
  <ng-container *ngSwitchCase="6">
    <app-image-bottom-2 [imgUrl]="imgUrl" [firstText]="firstText" [secondText]="secondText"></app-image-bottom-2>
  </ng-container>
  <ng-container *ngSwitchCase="7">
    <app-image-overlap-2 [imgUrl]="imgUrl" [firstText]="firstText" [secondText]="secondText">
    </app-image-overlap-2>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <app-image-top-2 [imgUrl]="imgUrl" [firstText]="firstText" [secondText]="secondText"></app-image-top-2>
  </ng-container>
</ng-container>