div.container-fluid {
    width: 80%;
}

.card p {
    margin: 0;
}

.card-deck {
    max-width: 100%;
}

.card-deck .card {
    border: 0;
}

div.card-sm-hover {
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    height: 100%;
    width: 200px;
    border-radius: 1em;
    align-items: center;
    background-color: transparent;
}

.card-sm:hover div.card-sm-hover {
    display: block;
}