div.container-fluid {
    width: 80%;
}

.card p {
    margin: 0;
}

.card-deck .card {
    border: 0;
}

div.card-sm-hover {
    display: none;
    z-index: 10;
    height: 130%;
    margin-top: -130%;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    border-radius: 1em;
    align-items: center;
    background-color: transparent;
}

.card-sm:hover>div.card-sm-hover {
    display: block;
}