<div class="container-fluid">
  <div class="row">
    <div class="col list-group">
      <div class="list-group-item">
        <h2 class="text-center">
          <a data-toggle="collapse" href="#doors" role="button" aria-expanded="false" aria-controls="doors">
            Двері
          </a>
        </h2>
        <div class="list-group">
          <ng-container *ngFor="let type of getCardTypes()">
            <div id="doors" role="tablist" aria-multiselectable="true">
              <div class="list-group-item">
                <div role="tab" id="{{type}}" class="text-capitalize">
                  <h6>
                    <a data-toggle="collapse" data-parent="#doors" href="#{{type}}_cards" aria-expanded="true"
                      [attr.aria-controls]="type + '_cards'">
                      {{getCardTypeName(type)}}
                      <span class="badge badge-secondary badge-pill">{{getCardsOfType(type).length}}</span>
                    </a>
                    <a class="float-right" (click)="addCard(type)" href="#" role="button">
                      Add <i class="fa fa-plus"></i>
                    </a>
                  </h6>
                </div>
                <div id="{{type}}_cards" class="collapse in show" role="tabpanel" [attr.aria-labelledby]="type">
                  <div class="card-deck m-0" *ngIf="cards">
                    <div class="card m-2 card-sm justify-content-center" *ngFor="let card of getCardsOfType(type)">
                      <div class="card-body p-0">
                        <app-card-select [card]="card"></app-card-select>
                        <div class="card-sm-hover text-center">
                          <div class="float-right">
                            <button class="btn btn-sm btn-primary" (click)="editCard(card)"><i
                                class="fa fa-pencil"></i></button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>