<form (ngSubmit)="submit()" class="form-group">
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <div class="container p-3">
            <div class="row p-3">
                <div class="col">
                    <app-edit-card [card]="card"></app-edit-card>
                </div>
                <div class="col card-md d-flex justify-content-center">
                    <div>
                        <app-layouts [(current)]="card.layout" [available]="availableLayouts" class="text-center">
                        </app-layouts>
                        <app-card-container [card]="card"></app-card-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
            OK
        </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('')">
            Cancel
        </button>
    </div>
</form>