<ng-container [ngSwitch]="imgPosition">
  <ng-container *ngSwitchCase="'top'">
    <app-img-field [(img)]="imgUrl"></app-img-field>
    <app-text-field [(text)]="firstText"></app-text-field>
    <app-text-field [(text)]="secondText"></app-text-field>
  </ng-container>
  <ng-container *ngSwitchCase="'bottom'">
    <app-text-field [(text)]="firstText"></app-text-field>
    <app-text-field [(text)]="secondText"></app-text-field>
    <app-img-field [(img)]="imgUrl"></app-img-field>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <app-img-field [(img)]="imgUrl"></app-img-field>
    <app-text-field [(text)]="firstText"></app-text-field>
    <app-text-field [(text)]="secondText"></app-text-field>
  </ng-container>
</ng-container>