.card {
    border: 0;
}

.card img {
    width: 100%;
}

.card-body {
    padding: 10%;
}

.custom-card {
    width: 100%;
    position: relative;
    color: black;
}

.custom-card-footer {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
}