.card {
    border: 0;
}

.card img {
    width: 100%;
}

.card-body.details {
    padding: 5%;
}

.card-title {
    margin: 0;
    font-size: unset;
}

.custom-card {
    position: relative;
    color: black;
    font-size: 1rem;
}

.custom-card .custom-card-header {
    position: relative;
    top: 2%;
    left: 0;
    right: 0;
}

.custom-card .custom-card-body {
    position: relative;
    top: 2%;
    left: 0;
    right: 0;
    padding: 0 5%;
    height: 75%;
}

.custom-card .custom-card-footer {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
}