<app-card-item [backgroundImg]="backgroundImg">
  <div role="header" class="text-center">
    <div class="card-name">
      <app-text-field [(text)]="card.name"></app-text-field>
    </div>
  </div>
  <div role="content">
    <app-two-text-fields [(firstText)]="card.firstAbilityName" [(secondText)]="card.firstAbilityDescription">
    </app-two-text-fields>
    <app-two-text-fields [(firstText)]="card.secondAbilityName" [(secondText)]="card.secondAbilityDescription"
      [(imgUrl)]="card.img" [imgPosition]="'bottom'">
    </app-two-text-fields>
  </div>
  <div role="footer" class="container">
    <div class="row">
      <div class="col">
        <p class="text-right">{{classText}}</p>
      </div>
    </div>
  </div>
</app-card-item>