<app-card-content [backgroundImg]="card.backgroundImg">
  <app-card-header [cardName]="card.name"
                   [extraTop]="bonus"
                   [extraBottom]="card.specificity">
  </app-card-header>

  <app-card-body [firstText]="card.description"
                 [imgUrl]="card.img"
                 [fieldsPlacement]="card.layout.fieldsPlacement">
  </app-card-body>

  <app-card-footer [leftText]="leftText"
                   [rightText]="card.priceText">
  </app-card-footer>
</app-card-content>
