<div class="card custom-card m-0">
    <img src="{{backgroundImg}}" alt="background">
    <div class="card-body details card-img-overlay">
        <div class="custom-card-header">
            <ng-content select="div[role=header]"></ng-content>
        </div>
        <div class="custom-card-content">
            <ng-content select="div[role=content]"></ng-content>
        </div>
        <div class="custom-card-footer">
            <ng-content select="div[role=footer]"></ng-content>
        </div>
    </div>
</div>