<div>
  <app-editable-string [(string)]="card.name" [label]="'name'"></app-editable-string>

  <app-editable-string [(string)]="card.bonus" [label]="'bonus'">
  </app-editable-string>
  <app-editable-string [(string)]="card.specificity" [label]="'specificity'">
  </app-editable-string>
  <app-editable-rich-text [(text)]="card.description" [label]="'description'" [multiline]="'true'">
  </app-editable-rich-text>
  <app-editable-string [(string)]="card.kind" [label]="'kind'">
  </app-editable-string>
  <app-editable-number [(number)]="card.price" min="0" max="2000" step="100" [label]="'price'">
  </app-editable-number>
</div>