<div>
  <app-editable-string [(value)]="card.name"
                       [label]="'name'"></app-editable-string>

  <app-editable-string [(value)]="card.bonus"
                       [label]="'bonus'">
  </app-editable-string>

  <app-editable-string [(value)]="card.specificity"
                       [label]="'specificity'">
  </app-editable-string>

  <app-editable-rich-text [(text)]="card.description"
                          [label]="'description'"
                          [multiline]="true">
  </app-editable-rich-text>

  <app-editable-string [(value)]="card.kind"
                       [label]="'kind'">
  </app-editable-string>

  <input type="checkbox"
         [(ngModel)]="card.isHuge"
         [value]="card.isHuge"> Huge

  <app-editable-number [(value)]="card.price"
                       [min]="0"
                       [max]="2000"
                       [step]="100"
                       [label]="'price'">
  </app-editable-number>
</div>
