<div>
  <app-editable-string [(value)]="card.level"
                       [label]="'level'"></app-editable-string>
  <app-editable-string [(value)]="card.name"
                       [label]="'name'"></app-editable-string>
  <app-editable-string [(value)]="card.extra"
                       [label]="'extra'"></app-editable-string>

  <app-editable-rich-text [(text)]="card.description"
                          [label]="'description'"
                          [multiline]="true">
  </app-editable-rich-text>
  <app-editable-rich-text [(text)]="card.badStuff"
                          [label]="'bad stuff'"
                          [multiline]="true">
  </app-editable-rich-text>

  <app-editable-number [(value)]="card.winLevels"
                       [label]="'win levels'"
                       [min]=1
                       [max]=2>
  </app-editable-number>
  <app-editable-number [(value)]="card.winTreasures"
                       [label]="'win treasures'"
                       [min]="0"
                       [max]="10">
  </app-editable-number>
</div>
