<form (ngSubmit)="submit()" class="form-group">
    <div class="modal-header">
        {{card.name || "New card"}}
    </div>
    <div class="modal-body card-md d-flex justify-content-center">
        <app-card-select [card]="card"></app-card-select>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
            OK
        </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('')">
            Cancel
        </button>
    </div>
</form>